<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WebTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>



	<!-- servlet configration -->
	<servlet>
		<servlet-name>ServletLogin</servlet-name>
		<servlet-class>com.kunuma.servlet.login.ServletLogin</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
		
	<filter>
		<filter-name>GenericEncodingFilter</filter-name>
		<filter-class>com.kunuma.filter.GenericEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GenericEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>PrivilegeFilter</filter-name>
		<filter-class>com.kunuma.filter.PrivilegeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrivilegeFilter</filter-name>
		<url-pattern>/WebTest/Demo1.html</url-pattern>
	</filter-mapping>

</web-app>